build/*
bin/*
install/output/*
docs/output/*
libs/intermediate/*
libs/wxWidgets/lib/vc_lib/*.lib
libs/wxWidgets/build/msw/vc_msw/*
libs/wxWidgets/build/msw/vc_mswd/*
libs/wxScintilla/lib/*

*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
*.obj
*.idb
*.ncb
*.pdb
*.ib_pdb_index
*.suo
*.aps
*.ilk
*.sdf
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.user
*.opendb
*.opensdf
*.tmp
*.tlog
*.docstates
*.idc
*.map
*.tds
*.ipch
*.exp
*.local
*.vspscc
*.vssscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.log
*.sbr
*.scc
*.lnk
*.lastbuildstate
*.unsuccessfulbuild
*_suppressions.cfg
*.[Pp]ublish.xml
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.txaPackage
*.tvsconfig

.DS_Store
.Trashes
*.swp
*.lock
*~.nib

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

*.xccheckout
xcuserdata/

*.moved-aside
